*{
    margin: 0px;
    box-sizing: border-box;
}



html{
    height: 100%;
}

body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    background-color: rgb(21, 26, 65);
}

header{
    background-color: rgb(12, 12, 12);
    font-size: 30px;
    font-family: Calibri, ;
    color: white;
    opacity: 60%;
    border: 2px solid rgb(0, 0, 0);

}

#bt{
    background-color: transparent;
    color: white;
    border: transparent;
    text-decoration: none;
    cursor: pointer;
}

img{
    max-width: 100%;
}

.sidebar{
    left: 0px;
    color:chocolate;
    opacity: 60%;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flex{
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    align-items: center;
    flex-wrap: wrap;
}

.flex > div{
    flex: 1 1 400px;
    padding: 20px;
}

#bt1{
    background-color: transparent;
    color: white;
    border: transparent;
    text-decoration: none;
    cursor: pointer;
    left: 150px;
    position: relative;
    text-decoration: underline;
}

#bt2{
    background-color: transparent;
    color: white;
    border: transparent;
    text-decoration: none;
    cursor: pointer;
    left: 180px;
    position: relative;
    text-decoration: underline;
}

.footer{
    background-color: rgb(10, 10, 10);
    font-size: 30px;
    font-family: Calibri, ;
    color: white;
    opacity: 60%;
    border: 2px solid rgb(0, 0, 0);

}

#bt3{
    background-color: transparent;
    color: white;
    border: transparent;
    text-decoration: none;
    cursor: pointer;
    text-decoration: underline;
    display: flex;
    text-align: center;
}



